@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body *{
  font-family: 'Roboto', sans-serif;
}

#logo-boxx{
  z-index: 1;
}

.about-top-sec{
  background: url(../images/pexels-ray-bilcliff-1672813.jpg);
  height: 65vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-top-sec .about-overlay{
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-text-container{
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}

.top-text-container p{
  text-align: center;
  font-weight: 100;
  width: 70%;
  margin: 0 auto;
}

.box-container{
  background: url(../images/pexels-brotin-biswas-518543.jpg);
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay-second{
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-con{
  position: absolute;
}

.box-1{
  width: 400px;
  height: 350px;
  z-index: 1;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 300px;
  border-radius: 50px;

}

.box-2{
  width: 400px;
  height: 350px;
  z-index: 1;
  padding: 5px;
  background-color: darkgoldenrod;
  position: relative;
  top: 300px;
  border-radius: 50px;
}

.box-2 p, h1{
  color: black;
}