.continue-movie-item {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 156px;
  max-width: 260px;
  min-width: 260px;
  padding: 0 4px;
  margin: auto 5px;
  margin-bottom: 16px;
  border-radius: 8px;
  padding-bottom: 10px !important;
  transition: 0.1s;
}

.continue-movie-item:hover {
  transform: translate(0, -1px);
}

.continue-movie-item img {
  width: auto;
  height: 260px;
  border-radius: 8px;
}

.spanning {
  /* width: auto; */
  max-height: 5px;
  height: 5px !important;
}

.continue-add-to-list {
  padding: 0 !important;
  margin: 0 !important;
  /* margin-top: 20px; */
  /* top: ; */
}

.cont {
  /* max-width: 20px; */
  min-width: 20px;
  max-height: 20px;
  min-height: 20px;
  border: 2px solid #EBD01D;
  position: relative;
  right: 10px;
  top: 10px;
  padding: 2px;
  /* padding: 2px; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBD01D;
  line-height: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}

.cont img {
  max-width: 16px;
  max-height: 16px;
}

.continue-play-button {}

.continue-play-button img {
  width: 36px;
  height: 36px;
}

.continue-play-button img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.continue-desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.continue-row {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: auto 12px;
  /* margin-left: 1px; */
}

.continue-info {
  /* width: 100%; */
  max-width: 260px;
  min-width: 250px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
}

.p-bar {
  width: 100% !important;
  /* margin-left: 15px; */
}

.p-bar .progress {
  max-height: 4px;
  width: 98% !important;
}

.watch-progress {
  margin-top: 0;
}

.watch-progress span {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #F2C94C;
  margin-right: 8px;
}

.continue-lower-bar {
  background-image: url(img/lower-part.png);
  width: 100%;
  border-radius: 8px;
}

.mini-description {
  display: none;
  width: 250px;
  position: relative;
  bottom: 25px !important;
  left: 10px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.hideOpacity {
  opacity: 0;
}

.see-more {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}