.download-item {
  height: 284px;
  max-width: 260px;
  padding: 0 10px;
  padding-bottom: 20px;
}

.down-img:hover  {
  border-radius: 8px;
  cursor: pointer;
  transform: scale(1.05);
}

.down-img {
  margin-bottom: 10px;
}

.down-img img {
  width: 260px;
  height: 260px;
  border-radius: 8px;
}

.down-desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}