.bg-container {
  /* position: relative; */
}

.hero-container {
  background-image: url(../image/new-heroimg.png);
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  filter: blur(0.5px);
  z-index: -1;
}

.bg-con-overlay {
  position: absolute;
  height: 110vh;
  width: 100%;
  background: black;
  opacity: 0.2;
  z-index: 0;
}

.bg-dark-fade {
  background-image: url(../image/con-fade.png);
  height: 111vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 0;
  position: relative;
}

.hero-level-container {
  margin-top: 3%;
  /* top: 1; */
  z-index: 1;
}

.hero-overlay {
  /* position: absolute; */
  height: 550px;
  width: 1200px;
  background-color: black;
  z-index: 1;
  opacity: 0.2;
}

.bring-front {
  z-index: 5 !important;
  padding-bottom: 0 !important;
}

.main-hero-img {
  background-image: url(../image/new-heroimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 1200px;
}

.main-hero-content {
  padding-top: 50px;
  height: 500px;
  width: 1200px;
  margin: 0 auto !important;
  z-index: 2;
}

.movie-desc {
  font-size: 14px;
  width: 68%;
}

.left-button button, .right-button button {
  border-radius: 7px;
  width: 100px;
}

.left-button img {
  width: 25px;
  height: 20px;
  margin-right: 3px;
}

.right-button img {
  width: 16px;
  height: 14px;
  margin-right: 3px;
}

.right-button {
  margin-left: 10px !important;
}

.ml-text {
  font-family: "Roboto";
  font-weight: 500;
}

.play-text {
  font-family: "Roboto";
  font-weight: 500;
}

#left-btn:hover {
  background-color: transparent;
  border-color: #E4B71E;
}

#right-btn:hover {
  background-color: #E4B71E !important;
  border-color: #E4B71E;
}

.left-button button:hover {
  color: #E4B71E;
}

.left-button .fa-play, .right-button .fa-plus {
  margin-right: 5px;
}

.hero-left-section {
  padding-left: 70px;
}

.button-container {
  margin-top: 21px;
}

.hero-right-section {
  padding-right: 70px;
}

.year-hour-container, .movie-type-container {
  margin-bottom: 20px;
}

.msvl {
  margin-left: 75px;
}

.msvl span {
  font-weight: bolder;
}

.hour-time-container {
  margin-left: 90px;
}

.stars-text {
  font-weight: bolder;
}

.stars-section {
  text-align: right;
}

.ratings {
  margin-right: 7px;
}

.ratings .fa-star {
  cursor: pointer;
}

.hero-watch-triller {
  margin-top: 22px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 156px;
  color: white;
  /* background: green; */
  /* z-index: 50; */
}

.small-img {
  cursor: pointer;
}

.watch-trailer-text {
  margin-left: -76px;
  letter-spacing: 4px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid white;
  font-size: 18px;
  cursor: pointer;
}

@font-face {
  font-family: "newfont";
  src: url(../fonts/aAntaraDistance.otf);
}

.hero-movie-title {
  font-family: 'newfont';
  font-size: 100px;
}