.hoverable-box {
    /* background: grey;     */
    position: relative;
    background-repeat: no-repeat;
    background-size: inherit;
    transition: .1s;
}

.hoverable-box:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.hoverable-box.long-column-box {
    max-width: 260px;
    min-width: 260px;
    height: 544px;
    max-height: 544px;
    min-height: 260px;
    margin: 4px;
}

.hoverable-box.normal-column-box {
    max-width: 260px;
    width: 260px;
    max-height: 260px;
    min-height: 260px;
    margin: 4px;
}

.hover-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
    position: absolute;
    display: none;
}

.normal-box {
    /* max-height: 260px; */
    max-width: 260px !important;
    display: flex;
    padding: 0 !important;
}