/* .bordered-red {
    border: 1px solid red;
}

.bordered-blue {
    border: 1px solid blue;
}

.bordered-green {
    border: 1px solid greenyellow;
}

.bordered-white {
    border: 1px solid white;
}

.container {
    border: 2px solid purple;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}


body {
    background: #110f14;
    position: relative;
}

ul {
    list-style-type: none;
}

/* width */

::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #d2d2d2;
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: yellow;
}

.sec-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    color: #ffffff;
    margin: 16px auto;
    padding: 0 10%;
    position: relative;
    z-index: 1;
}

.sec-title-little {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin: 16px auto;
    padding-left: 8%;
    position: relative;
    z-index: 1;
}

.sec-content {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-content .load-more {
    position: absolute;
    left: 85%;
}

.sec-content .load-more:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1366px) {
    .sec-content .load-more {
        position: absolute;
        left: 91%;
    }

    .sec-content .load-more:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

a.none {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: none;
}

.footer-area {
    height: 40vh;
    background-color: black;
}

.footer-area a {
    text-decoration: none;
    color: #575757;
    font-size: 14px;
}

.footer-area a p {
    margin-bottom: 15px;
}

.footer-area a:hover {
    /* font-size: 14.3px; */
    color: white;
}

.page-title {
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 0;
    margin-top: 50px;
    padding-left: 8%;
}

.page-title h2 {
    font-size: 24px;
    color: #ffffff;
}

.yelo-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: auto 12px;
    position: relative;
}

.yelo-loader #loader1 {
    height: 50px;
    width: 50px;
    animation-name: loaderDoting;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

.yelo-loader #loader2 {
    height: 50px;
    width: 50px;
    animation-name: loaderDoting;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes loaderDoting {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.05;
    }
    100% {
        opacity: 1;
    }
}