.trending-content {
    max-height: 544px;
}

.trending-item {
    max-width: 260px;
    padding: 0 10px;
    margin-bottom: 16px;
}

.trending-item:hover {
    border-radius: 8px;
    cursor: pointer;
    transform: scale(1.05);
}

.trending-item img {
    width: 260px;
    height: 260px;
    border-radius: 8px;
}